body {
  margin: 0;
  font-family: "Courrier New", Courier, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2,0,36);
  background: linear-gradient(352deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
  width: 100%;
  height: 100vh;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
